<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxa5MzG9R0A4JWkpAY2AHUvexZqj5Ji2s</string>
	<key>GCM_SENDER_ID</key>
	<string>864780914384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scale3c</string>
	<key>PROJECT_ID</key>
	<string>technical-test-c67ae</string>
	<key>STORAGE_BUCKET</key>
	<string>technical-test-c67ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864780914384:ios:4ac5399a0fdd421cf318d5</string>
</dict>
</plist>